# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.egg
.venv/
venv/

# Env files
.env

# Node
node_modules/

# Build output
frontend/dist/

# Database
*.db
*.db-journal
*.sqlite

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
